.adddaylmodal-container {
  position: relative;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.9);
  border: 2px solid #000000;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
  padding: 32px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  width: 380px;
}
.adddaylmodal--header {
  transform: translateX(-20px);
  margin-bottom: 32px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
}
.adddaylmodal--header-back {
  width: 44px;
  height: 44px;
}
.adddaylmodal--current {
  padding: 32px 16px;
  gap: 4px;
  width: 100%;
  height: 66px;
  background: rgba(245, 255, 252, 0.1);
  border-radius: 10px;
  font-family: "Dongle" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 21px !important;
  line-height: 21px !important;
  /* identical to box height, or 100% */

  display: flex;
  align-items: center;

  /* White */

  color: #ffffff;
  flex-direction: column;
  margin-bottom: 30px;
}
.adddaylmodal--current-b {
  font-family: "Dongle";
  font-style: normal;
  font-weight: 400;
  font-size: 27px !important;
  line-height: 27px !important;
  /* identical to box height, or 100% */

  display: flex;
  align-items: center;
  text-align: center;

  /* White */

  color: #ffffff;
}

.adddaylmodal--infostack-a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 16.56px;
}
.adddaylmodal--infostack-a-info {
  gap: 5px;
  font-family: "Dongle";
  font-style: normal;
  font-weight: 400;
  font-size: 32px !important;
  line-height: 39px !important;

  color: #ffffff;
}
.adddaylmodal--infostack-a-info-token {
  height: 24px;
  width: 24px;
}
.adddaylmodal--infostack-a-amount {
  font-family: "Dongle";
  font-style: normal;
  font-weight: 400;
  font-size: 27px !important;
  line-height: 39px !important;

  text-align: right;

  color: #ffffff;
}
.adddaylmodal--range {
  width: 100%;
}
input[type="range"].adddaylmodal--range {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"].adddaylmodal--range:focus {
  outline: none;
}
input[type="range"].adddaylmodal--range::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: grab;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background-color: transparent;
  border-radius: 20px;
  border: 0px solid #000000;
}
input[type="range"].adddaylmodal--range::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 2px solid #df725a;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background: #ffffff;
  cursor: grab;
  -webkit-appearance: none;
  margin-top: -6.5px;
}
input[type="range"].adddaylmodal--range:focus::-webkit-slider-runnable-track {
  background-color: transparent;
}
input[type="range"].adddaylmodal--range::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: grab;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background-color: transparent;
  border-radius: 20px;
  border: 0px solid #000000;
}
input[type="range"].adddaylmodal--range::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 2px solid #df725a;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background: #ffffff;
  cursor: grab;
}
input[type="range"].adddaylmodal--range::-ms-track {
  width: 100%;
  height: 4px;
  cursor: grab;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"].adddaylmodal--range::-ms-fill-lower {
  background-color: transparent;
  border: 0px solid #000000;
  border-radius: 40px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"].adddaylmodal--range::-ms-fill-upper {
  background-color: transparent;
  border: 0px solid #000000;
  border-radius: 40px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"].adddaylmodal--range::-ms-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 2px solid #df725a;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background: #ffffff;
  cursor: grab;
}
input[type="range"].adddaylmodal--range:focus::-ms-fill-lower {
  background: #df725a;
}
input[type="range"].adddaylmodal--range:focus::-ms-fill-upper {
  background-color: transparent;
}

.adddaylmodal--buttons {
  justify-content: space-between;
  width: 100%;
  margin-top: 32px;
}
.adddaylmodal--buttons-button {
  background: linear-gradient(90deg, #da4a52 0%, #df775a 100%);
  border: 1px solid #ffffff;
  border-radius: 10px;
  width: 73px;
  padding: 10px;
  height: 43px;
  font-family: "Space Grotesk" !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 23px !important;
  /* identical to box height */

  color: #ffffff;
}
.adddaylmodal--buttons-button:hover {
  border: 1px solid rgb(255, 255, 255, 0.6);

  background: linear-gradient(
    90deg,
    rgb(218, 74, 82, 0.6) 0%,
    rgb(223, 119, 90, 0.6) 100%
  );
}
.adddaylmodal--tokens {
  position: relative;
  width: 100%;
  margin-top: 32px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  flex-direction: column;
  gap: 12px;
}
.adddaylmodal--tokens-token {
  padding: 16px;
  width: 100%;
  height: 56px;
  background: rgba(245, 255, 252, 0.1);
  border-radius: 10px;
  justify-content: space-between;
}
.adddaylmodal--tokens-token-amount {
  background-color: transparent;
  font-family: "Dongle";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 39px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.adddaylmodal--tokens-token-amount::-webkit-outer-spin-button,
.adddaylmodal--tokens-token-amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.adddaylmodal--tokens-token-amount {
  -moz-appearance: textfield;
}
.adddaylmodal--tokens-token-img {
  gap: 7px;
  font-family: "Dongle";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 39px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #ffffff;
}
.adddaylmodal--tokens-token-switch {
  position: absolute;
}
.adddaylmodal--tokens-token-switch:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.adddaylmodal--tokens-token-switch-icon {
  width: 43px;
  height: 43px;
}
.adddaylmodal--button {
  margin-top: 32px;
  height: 54px;
  background: linear-gradient(90deg, #da4a52 0%, #df775a 100%);
  border-radius: 10px;
  width: 100%;
  font-family: "Space Grotesk" !important;
  font-style: normal;
  font-weight: 700;
  font-size: 18px !important;
  line-height: 23px !important;
  /* identical to box height */

  color: #ffffff;
}
.adddaylmodal--button:hover {
  background: linear-gradient(
    90deg,
    rgb(218, 74, 82, 0.6) 0%,
    rgb(223, 119, 90, 0.6) 100%
  );
}
@media screen and (max-width: 435px) {
  .adddaylmodal-container {
    width: calc(100vw - 40px);
  }
  .adddaylmodal--infostack-a {
    flex-direction: column;
    align-items: flex-start;
  }
  .adddaylmodal--infostack-a-info {
    font-size: 22px !important;
    line-height: 29px !important;
  }
  .adddaylmodal--tokens-token-amount {
    font-size: 27px;
    line-height: 39px;
    width: 100px;
  }
}
