.adddaylmodal-container {
  position: relative;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.9);
  border: 2px solid #000000;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
  padding: 32px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  width: 380px;
}
.adddaylmodal--header {
  transform: translateX(-20px);
  margin-bottom: 32px;
}
.adddaylmodal--header-back {
  width: 44px;
  height: 44px;
}
.adddaylmodal--current {
  padding: 32px 16px;
  gap: 4px;
  width: 100%;
  height: 66px;
  background: rgba(245, 255, 252, 0.1);
  border-radius: 10px;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  flex-direction: column;
  margin-bottom: 30px;
}
.adddaylmodal--current-b {
  font-size: 17px;
  line-height: 20px;
}

.adddaylmodal--infostack-a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 16.56px;
}
.adddaylmodal--infostack-a-info {
  gap: 5px;
  font-size: 15px;
  line-height: 17px;
  font-weight: 400;
}
.adddaylmodal--infostack-a-info-token {
  height: 24px;
  width: 24px;
}
.adddaylmodal--infostack-a-amount {
  font-size: 15px;
  line-height: 17px;
  font-weight: 400;
}
.adddaylmodal--range {
  width: 100%;
}
input[type="range"].adddaylmodal--range {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"].adddaylmodal--range:focus {
  outline: none;
}
input[type="range"].adddaylmodal--range::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: grab;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background-color: transparent;
  border-radius: 20px;
  border: 0px solid #000000;
}
input[type="range"].adddaylmodal--range::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 2px solid #df725a;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background: #ffffff;
  cursor: grab;
  -webkit-appearance: none;
  margin-top: -6.5px;
}
input[type="range"].adddaylmodal--range:focus::-webkit-slider-runnable-track {
  background-color: transparent;
}
input[type="range"].adddaylmodal--range::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: grab;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background-color: transparent;
  border-radius: 20px;
  border: 0px solid #000000;
}
input[type="range"].adddaylmodal--range::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 2px solid #df725a;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background: #ffffff;
  cursor: grab;
}
input[type="range"].adddaylmodal--range::-ms-track {
  width: 100%;
  height: 4px;
  cursor: grab;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"].adddaylmodal--range::-ms-fill-lower {
  background-color: transparent;
  border: 0px solid #000000;
  border-radius: 40px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"].adddaylmodal--range::-ms-fill-upper {
  background-color: transparent;
  border: 0px solid #000000;
  border-radius: 40px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"].adddaylmodal--range::-ms-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 2px solid #df725a;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background: #ffffff;
  cursor: grab;
}
input[type="range"].adddaylmodal--range:focus::-ms-fill-lower {
  background: #df725a;
}
input[type="range"].adddaylmodal--range:focus::-ms-fill-upper {
  background-color: transparent;
}

.adddaylmodal--buttons {
  justify-content: space-between;
  width: 100%;
  margin-top: 32px;
}
.adddaylmodal--buttons-button {
  background: linear-gradient(90deg, #da4a52 0%, #df775a 100%);
  border: 1px solid #ffffff;
  border-radius: 10px;
  width: 73px;
  height: 35px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}
.adddaylmodal--buttons-button:hover {
  border: 1px solid rgb(255, 255, 255, 0.6);

  background: linear-gradient(
    90deg,
    rgb(218, 74, 82, 0.6) 0%,
    rgb(223, 119, 90, 0.6) 100%
  );
}
.adddaylmodal--tokens {
  position: relative;
  width: 100%;
  margin-top: 32px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  flex-direction: column;
  gap: 12px;
}
.adddaylmodal--tokens-token {
  padding: 16px;
  width: 100%;
  height: 56px;
  background: rgba(245, 255, 252, 0.1);
  border-radius: 10px;
  justify-content: space-between;
}
/* .adddaylmodal--tokens-token-amount {
} */
.adddaylmodal--tokens-token-img {
  gap: 7px;
}
.adddaylmodal--tokens-token-switch {
  position: absolute;
}
.adddaylmodal--tokens-token-switch:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.adddaylmodal--tokens-token-switch-icon {
  width: 43px;
  height: 43px;
}
.adddaylmodal--button {
  margin-top: 32px;
  height: 54px;
  background: linear-gradient(90deg, #da4a52 0%, #df775a 100%);
  border-radius: 10px;
  width: 100%;
  font-family: "play";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.adddaylmodal--button:hover {
  background: linear-gradient(
    90deg,
    rgb(218, 74, 82, 0.6) 0%,
    rgb(223, 119, 90, 0.6) 100%
  );
}
