.chainsection-container {
  gap: 64px;
  flex-wrap: wrap;
  width: 100%;
  padding: 128px 0px;
}

.chainsection--logo-small {
  display: none;
}

@media screen and (max-width: 1000px) {
  .chainsection-container {
    /* width: 100vw; */
    padding: 0px 32px;
  }
  .chainsection--info {
    font-size: 56px;
    line-height: 68px;
  }
}
@media screen and (max-width: 700px) {
  .chainsection-container {
    padding: 0px;
    gap: 32px;
  }
  .chainsection--info {
    display: none;
    /* width: 100%;
    height: 100%;
    
    font-size: 28px;
    line-height: 32px; */
  }
  .chainsection--logo {
    display: none;
    /* width: 100%;
    height: 100%; */
  }
  .chainsection--logo-small {
    display: flex;
    width: 100vw;
    height: 100%;
  }
  .chainsection--logo-small div {
    width: 100% !important;
    height: 100% !important;
  }
}
