.litepaper-container {
  gap: 32px;
  flex-wrap: wrap;
}
.litepaper-logo {
  width: 393.84px;
  height: 393.84px;
}
.litepaper--info {
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.litepaper--info-title {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 68px;
  color: #ffffff;
}
.litepaper--button {
  padding: 16px 32px;
  width: 100%;
  height: 53px;
  background: linear-gradient(90deg, #da4a52 0%, #df775a 100%);
  border: 2px solid #ffffff;
  border-radius: 10px;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  transition: 300ms cubic-bezier(0.54, 0.21, 0.18, 1.35);

  color: #ffffff;
  text-decoration: none;
}
.litepaper--button:hover {
  background: linear-gradient(
    90deg,
    rgb(218, 74, 82, 0.6) 0%,
    rgb(223, 119, 90, 0.6) 100%
  );
  border: 2px solid rgb(255, 255, 255, 0.6);
  cursor: pointer;
}
@media screen and (max-width: 540px) {
  .litepaper-logo {
    width: 90vw;
    height: 100%;
  }
  .litepaper--info {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .litepaper--info-title {
    text-align: center;
  }
  .litepaper--button {
    width: calc(100vw - 32px);
  }
}
