.body-container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--black);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
