.button-container {
  padding: 16px 32px;
  background: linear-gradient(90deg, #da4a52 0%, #df775a 100%);
  border: 2px solid #ffffff;
  border-radius: 10px;
  /* // */
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  transition: 300ms cubic-bezier(0.54, 0.21, 0.18, 1.35);
}
.button-container:hover {
  background: linear-gradient(
    90deg,
    rgb(218, 74, 82, 0.6) 0%,
    rgb(223, 119, 90, 0.6) 100%
  );
  border: 2px solid rgb(255, 255, 255, 0.6);
  cursor: pointer;
}
@media screen and (max-width: 680px) {
  .button-container {
    font-size: 16px;
    line-height: 19px;
  }
}
