.hero-info-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  color: #ffffff;
  /* width: 100%; */
}
.hero-info--title {
  width: 533.14px;
  height: 150px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 56px;
  /* or 121% */

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero-info--subtitle {
  font-family: "Dongle";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 25px;
  /* or 96% */

  color: #ffffff;

  width: 532.17px;
  height: 100%;
  margin-bottom: 24px;
}
.hero-info--socials {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
.hero-info--socials-icon {
  width: 42px;
  height: 42px;
}
.hero-info--socials-icon > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1280px) {
  .hero-info-container {
    width: 100%;
  }
  .hero-info--title {
    width: 100%;
    height: 100%;
  }
  .hero-info--subtitle {
    width: 100%;
    height: 100%;
  }
}
