.roadsection2-container {
  margin-top: 180px;
}
.roadsection2--img-big {
  width: 100vw;
  height: 100%;
}
.roadsection2--img-small,
.roadsection2--img-extra-small {
  display: none;
}

@media screen and (max-width: 1200px) {
  .roadsection2--img-big {
    display: none;
  }
  .roadsection2--img-small {
    width: 100vw;
    height: 100%;
    display: flex;
  }
}
@media screen and (max-width: 800px) {
  .roadsection2--img-small {
    display: none;
  }
  .roadsection2--img-extra-small {
    width: 100vw;
    height: 100%;
    display: flex;
  }
}
