.roadsection2-container {
  /* margin-top: 128px; */
}
.roadsection2--img-big {
  width: 70vw;
  height: 100%;
}
.roadsection2--img-small {
  display: none;
}

@media screen and (max-width: 1100px) {
  .roadsection2--img-big {
    width: 100vw;
  }
}
@media screen and (max-width: 600px) {
  .roadsection2--img-big {
    display: none;
  }
  .roadsection2--img-small {
    width: 100vw;
    height: 100%;
    display: flex;
  }
}
