.defiaccess-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 100vw;
  height: 752.08px;
  overflow: hidden;
  /* height: 100%; */
}
.defiaccess--backgroung {
  width: 100vw;
  opacity: 0.3;
}
.defiaccess--backgroung-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: 0px -1235px; */
}
.defiaccess-container-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  flex-wrap: wrap;
  position: absolute;
  margin-top: 70px;
}
.defiaccess--info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.defiaccess--info-header {
  gap: 9px;
  margin-bottom: 9.6px;
}
.defiaccess--info-header-icon {
  width: 15.11px;
  height: 13.03px;
}
.defiaccess--info-header-title {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 34px;
  color: #ffffff;
  border-bottom: 1px solid #f54f00;
}
.defiaccess--info-title {
  width: 626.88px;
  height: 136px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 68px;
  color: #ffffff;
}
.defiaccess--info-sub {
  width: 501px;
  height: 59.89px;
  font-family: "Dongle";
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 34px;

  color: #ffffff;
}
.defiaccess-brand {
  width: 506.15px;
  height: 459.28px;

  /* transform: rotate(55.83deg); */
}
.defiaccess-brand-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width: 1150px) {
  .defiaccess-container {
    margin-bottom: 200px;
  }
  .defiaccess-container-inner {
    padding: 0px 32px;
  }
}

@media screen and (max-width: 700px) {
  .defiaccess-container-inner {
    padding: 0px;
  }
  .defiaccess--info {
    padding: 0px 32px;
  }
  .defiaccess--info-title {
    width: 100%;
    height: 100%;

    font-size: 56px;
    line-height: 65px;
  }
  .defiaccess--info-sub {
    width: 100%;
    height: 100%;

    font-size: 27px;
    line-height: 31px;
  }
  .defiaccess-brand {
    width: 150vw;
    height: auto;
    position: absolute;

    transform: translateY(390px);
  }
}
