.progress-container {
  padding: 55px 0px 55px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border-top: 2px solid #df775a;
  border-bottom: 2px solid #df775a;
}
