.hero-sale-container-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 26.13px;
  width: 100%;
}
.hero-sale-container {
  width: 604.24px;
  /* height: 439.9px; */
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid #000000;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.hero-sale-section-a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.hero-sale-section-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.hero-sale-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.hero-sale-section-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.hero-sale-section-brand-logo {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  border-radius: 50%;
}
.hero-sale-section-brand-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.hero-sale-section-brand-title-name-small {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 44px;
}
.hero-sale-section-price-a {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.hero-sale-section-price {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
/* .hero-sale-section-price-title {
} */
.hero-sale-section-price-amount {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
/* .hero-sale-section-price-estimated {
} */
.hero-sale-section-nametags {
  font-size: 12px;
  line-height: 14px;
}
.hero-sale-bar {
  background: #660003;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.36);
  border-radius: 20px;
  height: 30px;
  width: 100%;
  margin-top: 11px;
  position: relative;
}
.hero-sale-bar-circle {
  position: absolute;
  height: 30px;
  transition: 700ms cubic-bezier(0.54, 0.21, 0.18, 1.35);
  background: linear-gradient(90deg, #da4a52 0%, #df775a 100%);
  border-radius: 20px 0px 0px 20px;
}
.hero-sale-bar-circle-indicator {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  top: -22px;
  right: -20px;
  position: absolute;
  width: 100px;
}
.hero-sale-bar-circle-divider {
  position: absolute;

  transition: 700ms cubic-bezier(0.54, 0.21, 0.18, 1.35);
  height: 35px;
  width: 1px;
  bottom: 0px;
  right: 0px;
  background: #db3500;
  transition: 700ms cubic-bezier(0.54, 0.21, 0.18, 1.35);
}
.hero-sale-bar-value {
  margin-top: 8.37px;
  align-self: flex-end;
}
.hero-sale-section-button {
  background: linear-gradient(90deg, #da4a52 0%, #df775a 100%);
  border-radius: 10px;
  /* //// */
  padding: 16px 32px;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
  transition: 400ms cubic-bezier(0.54, 0.21, 0.18, 1.35);
}
.hero-sale-section-button:hover {
  background: linear-gradient(
    90deg,
    rgb(218, 74, 82, 0.5) 0%,
    rgb(223, 119, 90, 0.5) 100%
  );
  cursor: pointer;
  transition: 400ms cubic-bezier(0.54, 0.21, 0.18, 1.35);
}
.hero-sale-section-button:disabled,
.hero-sale-section-button:hover[disabled] {
  background: linear-gradient(90deg, #da4a52 0%, #df775a 100%);
  opacity: 0.5;
  cursor: not-allowed;
}

/* ////////////////// */
.hero-sale-process-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 66px;
  flex-wrap: wrap;
}
.hero-sale-process {
  display: flex;
  gap: 55.74px;
  position: relative;
}
.hero-sale-process-divider {
  width: 130px;
  height: 6.71px;
  background: #de6d59;
  position: absolute;
  z-index: 0;
  left: 50px;
  top: 12px;
}
.hero-sale-process-option {
  position: relative;

  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8.6px;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.hero-sale-process-option-icon {
  width: 33.16px;
  height: 33.16px;
  background: #ebe8e7;
  border-radius: 50%;
  border: 2px solid #da4a52;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-sale-process-option-text {
  width: 80px;
  text-align: center;
}

.hero-sale-section-connected-a {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.hero-sale-section-connected-b {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  gap: 6px;
}
.hero-sale-section-connected-status {
  background: #14ff00;
  border-radius: 50%;
  height: 9.54px;
  width: 9.54px;
}
.hero-sale-section-connected-divider {
  opacity: 0.5;
  border: 1px solid #d9d9d9;
  width: 100%;
  height: 1px;
  margin-top: 24px;
}
.connected-failed {
  color: #ff0000;
}
.connected-success {
  color: #14ff00;
}

.hero-sale-section-purchase {
  margin-top: 16px;
  padding: 16px 32px;
  width: 100%;

  background: linear-gradient(90deg, #da4a52 0%, #df775a 100%);
  border-radius: 10px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  transition: 400ms cubic-bezier(0.54, 0.21, 0.18, 1.35);
}
.hero-sale-section-purchase:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(218, 74, 82, 0.6) 0%,
    rgb(222, 118, 89, 0.6) 100%
  );
  color: #ffffff;
}
@media screen and (max-width: 1280px) {
  .hero-sale-container {
    width: 100%;
    border-radius: 29px;
    padding: 30px;
  }
}
@media screen and (max-width: 650px) {
  .hero-sale-section-a {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }
  .hero-sale-section-price-a {
    align-items: flex-start;
  }
}
@media screen and (max-width: 550px) {
  .hero-sale-section-brand {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .hero-sale-section-brand-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .hero-sale-section {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
  }
  .hero-sale-section-price {
    align-items: flex-start;
  }
}
