.walletmenu-container {
  gap: 16px;
}
.walletmenu--icon-wallet {
  width: 25.14px;
  height: 22px;
}
.walletmenu--icon-tab {
  width: 16px;
  height: 16px;
}
.walletmenu-outer--open {
  width: 100%;
  height: 100%;
  position: fixed;
  visibility: visible;
  opacity: 1;
  z-index: 9;
  background-color: rgb(25, 25, 25, 0.5);
}
.walletmenu--open {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 10px;
  isolation: isolate;

  width: 295px;
  height: 143px;

  background: #191919;
  border-radius: 29px;
  position: fixed;
  top: 100px;
  right: 170px;
  transition: 300ms cubic-bezier(0.54, 0.21, 0.18, 1.35);
  visibility: visible;
  opacity: 1;
  z-index: 10;
}
.walletmenu--close {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 10px;
  isolation: isolate;

  width: 295px;
  height: 143px;

  background: #191919;
  border-radius: 29px;
  position: fixed;
  top: 100px;
  right: 170px;
  transition: 300ms cubic-bezier(0.54, 0.21, 0.18, 1.35);
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}
.walletmenu--option {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #ffffff;
}
.walletmenu--option:hover {
  color: rgb(255, 255, 255, 0.6);
  cursor: pointer;
}
.walletmenu--divider {
  width: 100%;
  height: 0px;

  border: 1px solid #2e2f2f;
}
@media screen and (max-width: 1300px) {
  .walletmenu--open {
    top: 50%;
    right: 50%;
    transform: translate(50%, -100px);
  }
  .walletmenu--close {
    top: 50%;
    right: 50%;
    transform: translate(50%, -100px);
  }
}
