.blocktext-container {
  /* height: 100%; */
  min-height: 552px;
  font-family: "Dongle";
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 34px;
  /* or 92% */

  text-align: center;
  color: #ffffff;
  max-width: 1083px;
  margin: 128px 0px;
  padding: 0px 32px;
}
