.hero-container-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(180deg, #471a0e 0%, #95371d 100%);
  padding-bottom: 100px;
  min-height: 100vh;
}
.hero-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  margin-top: 185px;
  padding: 0px 32px;
}
@media screen and (max-width: 1280px) {
  .hero-container {
    flex-wrap: wrap-reverse;
    margin-top: 40px;
  }
}
