.hero-container-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(180deg, #471a0e 0%, #95371d 100%);
  padding-bottom: 100px;
  min-height: 100vh;
}
.hero-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  margin-top: 43px;
  padding: 0px 32px;
}
.hero--footer {
  margin-top: 32px;
  /* flex-direction: column; */
  /* position: relative; */
}
.hero--mascot {
  width: 200px;
  height: 200px;
}
.hero--mascot div {
  width: 100%;
}
.hero--footer-middle {
  flex-direction: column;
  gap: 16px;

  max-width: 359.09px;
}
.hero--button-presale {
  padding: 16px 32px;
  height: 53px;
  background: linear-gradient(346.4deg, #fbb040 6.59%, #f9ed32 89.94%);
  border: 2px solid #ffffff;
  border-radius: 10px;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #2d2d2d;
  transition: 300ms cubic-bezier(0.54, 0.21, 0.18, 1.35);
  width: 100%;
}
.hero--button-presale:hover {
  background: linear-gradient(
    346.4deg,
    rgb(251, 176, 64, 0.9) 6.59%,
    rgb(249, 237, 50, 0.9) 89.94%
  );
  border: 2px solid rgb(255, 255, 255, 0.6);
  color: #000000;
  cursor: pointer;
}
.hero--banner {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 18px rgba(253, 142, 142, 0.25);
}
@media screen and (max-width: 1280px) {
  .hero-container {
    flex-wrap: wrap;
    margin-top: 40px;
  }
  .hero--footer {
    flex-direction: column;
  }
}
