.recenttransaction-container {
  position: relative;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.9);
  border: 2px solid #000000;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
  padding: 32px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  /* identical to box height */

  color: #ffffff;

  width: 380px;
}
.recenttransaction--header {
  transform: translateX(-20px);
  margin-bottom: 15px;
}
.recenttransaction--header-back {
  width: 44px;
  height: 44px;
}

.recenttransaction--box {
  padding: 12px 16px;
  gap: 4px;
  cursor: pointer;
  width: 100%;
  background: rgba(245, 255, 252, 0.1);
  border-radius: 10px;
  transition: 400ms cubic-bezier(0.54, 0.21, 0.18, 1.35);
  scroll-snap-align: start;
}
.recenttransaction--box:hover .recenttransaction--box-address {
  transform: scale(1.1);
  color: #da4a52;
}
.recenttransaction--box-button {
  padding: 10px;
  gap: 5px;
  width: 150px;
  height: 42px;
  background: linear-gradient(90deg, #da4a52 0%, #df775a 100%);
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #ffffff;
  transition: 400ms cubic-bezier(0.54, 0.21, 0.18, 1.35);
}
.recenttransaction--box-button:hover {
  background: linear-gradient(
    90deg,
    rgb(218, 74, 82, 0.6) 0%,
    rgb(223, 119, 90, 0.6) 100%
  );
  border: 1px solid rgb(255, 255, 255, 0.6);
}
.recenttransaction--box-button-fake {
  padding: 10px;
  gap: 5px;
  width: 150px;
  height: 42px;
  opacity: 0.5;
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #ffffff;
  transition: 400ms cubic-bezier(0.54, 0.21, 0.18, 1.35);
}
.recenttransaction--box-button-fake:hover {
  opacity: 1;
  border: 1px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
}

.recenttransaction--button {
  margin-top: 32px;
  height: 54px;
  background: linear-gradient(90deg, #da4a52 0%, #df775a 100%);
  border-radius: 10px;
  width: 100%;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  transition: 400ms cubic-bezier(0.54, 0.21, 0.18, 1.35);
}

.recenttransaction--button:hover {
  background: linear-gradient(
    90deg,
    rgb(218, 74, 82, 0.6) 0%,
    rgb(223, 119, 90, 0.6) 100%
  );
}

.recenttransaction--wallet-info {
  margin-top: 6px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}
.recenttransaction--wallet-info-title {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #ffffff;
}

.recenttransaction--box-address {
  font-family: "Dongle";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  align-items: center;
  color: #ffffff;
  transition: 400ms cubic-bezier(0.54, 0.21, 0.18, 1.35);
}
.recenttransaction--box-copy {
}
.recenttransaction--box-copy-icon {
  width: 24px;
  height: 24px;
}

.recenttransaction--box-warning {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.recenttransaction--box-warning-top {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* White */

  color: #ffffff;
}
.recenttransaction--box-warning-bottom {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;

  /* White */

  color: #ffffff;
  width: 100%;
}
.recenttransaction--balance {
  font-family: "Dongle";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 39px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: right;

  color: #ffffff;
  gap: 4px;
}
.recenttransaction--balance-amount {
  font-family: "Dongle";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 39px;
  text-align: right;
  color: #ffffff;
  width: 50%;
}
.recenttransaction--scan {
  width: 100%;
  justify-content: flex-end;
  font-family: "Dongle";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;

  background: linear-gradient(90deg, #da4a52 0%, #df775a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  transition: 400ms cubic-bezier(0.54, 0.21, 0.18, 1.35);
}
.recenttransaction--scan:hover {
  opacity: 0.5;
  cursor: pointer;
}
.recenttransaction--box-tx {
  flex-direction: column;
  align-items: flex-start;
}
.recenttransaction--box-date {
  font-family: "Dongle";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  /* identical to box height, or 100% */

  display: flex;
  align-items: center;

  /* White */

  color: #ffffff;
}

.recenttransaction--tx-outer {
  height: 132px;
  width: 100%;
  overflow: hidden;
  /* padding: ; */
}
.recenttransaction--tx-inner {
  padding-right: 5px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  scroll-behavior: smooth;
  /* padding-bottom: 100px; */
  scroll-snap-type: y mandatory;
}

.recenttransaction--tx-inner::-webkit-scrollbar {
  cursor: pointer;
  width: 5px;
}

.recenttransaction--tx-inner::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #1a1a1a;
}
