.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin-top: 24px;
  padding: 0px 35px;
}

.header--links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.header--link {
  height: 19px;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.header--menu {
  display: none;
}
.header--menu-icon {
  width: 74px;
  height: 55px;
}
.header--button {
  padding: 16px 32px;
  background: linear-gradient(90deg, #da4a52 0%, #df775a 100%);
  border: 2px solid #ffffff;
  border-radius: 10px;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.header--button:hover {
  background: linear-gradient(
    90deg,
    rgb(218, 74, 82, 0.6) 0%,
    rgb(223, 119, 90, 0.6) 100%
  );
  border: 2px solid rgb(255, 255, 255, 0.6);
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .header--links {
    display: none;
  }

  .header--button {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    box-sizing: border-box;
    background: linear-gradient(90deg, #da4a52 0%, #df775a 100%);

    border: 2px solid #ffffff;
    box-shadow: 0px -5px 24px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;
    z-index: 10;
  }
  .header--button:hover {
    cursor: pointer;
    background: linear-gradient(90deg, #da4a52 0%, #df775a 100%);
  }
  .header--menu {
    display: flex;
  }
}
