.footer-container {
  flex-direction: column;
  margin: 130px 0px 90px 0px;
  gap: 35px;
}
.footer--socials {
  gap: 16px;
}
.footer--social {
  width: 32px;
  height: 32px;
}
.footer--bottom {
  flex-direction: column;
  gap: 32px;
}
.sectionlist-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}
.sectionlist--title {
  font-family: "Dongle";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  background: linear-gradient(90deg, #da4a52 0%, #df775a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.sectionlist--option {
  font-family: "Dongle";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.footer--bottom-brand {
  width: 111.44px;
  height: 63.56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer--bottom-text {
  font-family: "Dongle";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  /* identical to box height */

  color: #ffffff;
}
.footer--bottom-links {
  gap: 32px;
}

.footer--bottom-link {
  font-family: "Dongle";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
}
.footer--bottom-div {
  width: 12.92px;
  height: 0px;
  border: 1px solid #ffffff;
  transform: rotate(90deg);
}

@media screen and (max-width: 735px) {
  .footer--bottom-links {
    gap: 8px;
    flex-direction: column;
  }
  .footer--bottom-div {
    display: none;
  }
}
