.dexsection2-container {
  padding: 128px 0px;
}
.dexsection2--img {
  width: 70vw;
  height: 100%;
}
.dexsection2--img-mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  .dexsection2--img {
    width: 100vw;
  }
}
@media screen and (max-width: 600px) {
  .dexsection2--img {
    display: none;
  }
  .dexsection2--img-mobile {
    display: flex;
    width: 100vw;
    height: 100%;
  }
  .dexsection2--img-mobile div {
    width: 100%;
    height: 100%;
  }
}
