.dexsection2-container {
  margin-top: 120px;
  padding-top: 100px;
}
.dexsection2--img {
  width: 100vw;
  height: 100%;
}
.dexsection2--img-mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  .dexsection2--img {
    width: 140vw;
  }
}
@media screen and (max-width: 600px) {
  .dexsection2-container {
    padding-top: 50px;
  }
  .dexsection2--img {
    display: none;
  }
  .dexsection2--img-mobile {
    display: flex;
    width: 100vw;
    height: 100%;
  }
}
