.dexsection-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;

  color: #ffffff;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
}
.dexsection--title {
  font-size: 56px;
  line-height: 65px;
}
.dexsection--subtitle {
  font-size: 27px;
  line-height: 31px;
}
.dexsection--animation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 903.53px;
  height: 700.54px;
  background: radial-gradient(
    21.82% 22.83% at 52.31% 38.58%,
    rgba(243, 245, 101, 0.8) 0%,
    rgba(198, 62, 62, 0) 99.85%
  );
  mix-blend-mode: normal;
  transform: rotate(0.65deg);
}
.dexsection--animation-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.dexsection--description {
  font-size: 27px;
  line-height: 31px;
  text-align: center;
  width: 828.77px;
  height: 90.06px;
}
